# IDEs y editores (ajusta según tus herramientas)
.vscode/

# ESP-IDF: configuración local y build
sdkconfig
sdkconfig.old
sdkconfig.h
.env
build/
CMakeCache.txt
CMakeFiles/
compile_commands.json
project_description.json
